asgiref==3.2.3
async-timeout==3.0.1
attrs==19.3.0
autobahn==19.11.1
Automat==0.8.0
certifi==2019.11.28
cffi==1.13.2
constantly==15.1.0
cryptography==2.8
Django==3.0.12
django-cors-headers==3.2.0
djangorestframework==3.11.0
djangorestframework-jwt==1.11.0
ecdsa==0.15
hyperlink==19.0.0
idna==2.8
incremental==17.5.0
paho-mqtt==1.5.0
pyasn1==0.4.8
pyasn1-modules==0.2.7
pycparser==2.19
PyHamcrest==1.9.0
PyJWT==1.7.1
pyOpenSSL==19.1.0
python-jose==3.1.0
pytz==2019.3
rsa==4.0
service-identity==18.1.0
six==1.13.0
sqlparse==0.3.0
Twisted==19.10.0
txaio==18.8.1
wincertstore==0.2
zope.interface==4.7.1
